.sidebar {
    background-color: black;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    border-right: 2px solid white;
    transition: width 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed; /* Keep the sidebar fixed on the screen */
    height: 100%; /* Make sure it takes up the full height of the viewport */
  }

  h1 {
    text-align: center;
    color: white;
  }
  
  .sidebar.collapsed {
    width: 50px;
    align-items: center;
  }
  
  .sidebar.expanded {
    width: 150px;
    align-items: flex-start;
  }
  
  .hamburger {
    cursor: pointer;
  }
  
  nav ul {
    list-style-type: none;
    padding-left: 0;
  }
  
  a {
    color: white;
    text-decoration: none;
    font-size: 18px;
  }
  
  .social-icons {
    text-align: center;
    margin-top: 20px;
  }
  
  .social-icons a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .social-icons i {
    font-size: 20px;
  }
  